<article class="col-lg-8 offset-lg-2">
  <div class="post-block">
    <div class="media-wrapper">
      {{ if .Params.image }}
      <img class="img-fluid" style="height: auto" data-src="{{ .Params.Image_webp | absURL }}" src="{{ .Params.image | absURL }}">
      {{ end }}
    </div>

    <!--from here-->
    {{ if .Description }}
    <div class="synopsis_box" style="margin-top: -3em;">
      <p class="synopsis">Synopsis: {{ .Description }}</p>
      <div class="open_synopsis_box">+</div>
    </div>
    {{ end }}
    <!--to here-->

    <div class="content">

      {{ if .Params.author }}
      <p id="this_article_author" style="text-align: center">{{ .Params.author }}</p>
      {{ end }}
      <h1 style="text-align: center"><a href="{{ .Permalink }}">{{ .Title }}</a></h1>

      <p>{{ .Content }}</p>

      <!--from here-->
      {{ if .Params.footnotes }}
      <div id="extraspace"></div>
      {{ end }}
      {{ if .Params.footnotes }}
      <div class="footnotes_box" style="margin-bottom: 7.5em;">
        <p class="footnotes">Footnotes: {{ .Params.footnotes }}</p>
        <div class="open_footnotes_box">+</div>
      </div>
      {{ end }}
      <!--to here-->

      <div class="title text-center wow fadeInDown">
        <div class="border-meghna"></div>
      </div>

    </div>
  </div>
</article>
