<!DOCTYPE html>
<html lang="{{ with site.LanguageCode }}{{ . }}{{ else }}en-us{{ end }}">
{{ partial "head.html" . }}

<!--this in head for search?-->
<head>
	<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/fuse.js/3.2.0/fuse.min.js"></script>
	<!--script src="https://cdnjs.cloudflare.com/ajax/libs/mark.js/8.11.1/jquery.mark.min.js"></script-->
	<!--in case Mark not loaded…-->
	<script src="{{ "js/mark.js" | absURL }}">"></script>
	<script src="{{ "js/search.js" | absURL }}"></script>
</head>

<body id="body" data-spy="scroll" data-target=".navbar" data-offset="55">
  <div id="content">
    {{ partial "preloader.html" . }}
    {{- block "main" . }}{{- end }}
  </div>
  {{- partial "footer.html" . -}}
</body>

</html>
