{{ define "footerfiles" }}
{{ end }}

{{ define "main" }}
{{ partial "navigation.html" . }}

<section class="section">
  <div class="col-12">
    <div class="title text-center wow fadeInDown">
      <h1>Index</h1>
      <div class="border-meghna"></div>
    </div>
  </div>
  
  <div class="col-lg-8 offset-lg-2">
    <div class="post-single-content">
      <!--h2 id="main_person_tags">Person tags:</h2-->
      <p style="display: flex; width: 200px; justify-content: space-between; margin-left: auto; margin-right: auto;">
        <span id="personButton" style="text-align: center;color:var(--purpleColor);cursor:pointer; margin:0px;">Persons</span>
        <span style="color:black">|</span>
        <span id="subjectButton" style="text-align: center;color:var(--purpleColor);cursor:pointer; margin:0px;">Subjects</span>
      </p>

      <div class="container">
        <div class="box"><span>Persons</span></div>
        <div class="box"><span>|</span></div>
        <div class="box"><span>Subjects</span></div>
      </div>

      <div id="persontags-search-results"></div>
      <div id="subjecttags-search-results"></div>

      <div id="indexboxspace">
        <div id="indexBackground" style="background-color:rgba(0, 0, 0, 0.5);width:100vw;height:100vh;position:fixed;top:0;left:0;z-index:2;display:none"></div>
        <!--<div class="index_box">
          <div class="index_box_inside" style="width: 100%">
            <p class="index_box_name">Name Surname</p>
            <p class="index_box_text">Links</p>
          </div>
          <div class="close_index_box">+</div>
        </div-->
      </div>
    </div>
  </div>

</section>

<script id="persontags-result" type="text/x-js-template">
    <div id="summary-${key}">
      <h4>${title}</h4>
      <p>${snippet}</p>{ end }
    </div>
</script>

{{ end }}
