{{ define "main" }}

{{ partial "navigation.html" . }}

{{"<!-- Start Blog Section -->" | safeHTML}}
<section id="blog" class="section">
  <div class="container">
    <div class="row">
      <div class="col-12">
        {{"<!-- section title -->" | safeHTML}}
        <div class="title text-center wow fadeInDown">
          <h2>{{ .Title }}</h2>
          <div class="border-meghna"></div>
        </div>
      </div>
      {{"<!-- /section title -->" | safeHTML}}
      {{ $paginator := .Paginate .Data.Pages }}
      {{ range $paginator.Pages }}


      <h2>{{ $paginator.Pages }}</h2>
      <h2>{{ $paginator.Title }}</h2>
      <h2>{{ .Render "title" }}</h2>
      <h2>{{ .Render "description" }}</h2>
      <h2>{{ .Render "type"}}</h2>
      

      {{ .Render "article" }}
      {{ end }}
      <div class="col-12">
        {{ template "_internal/pagination.html" . }}
      </div>
    </div>
  </div>
</section>
{{"<!-- /blog -->" | safeHTML}}

{{ end }}
