{{ define "main" }}

{{ partial "navigation.html" . }}

{{"<!-- Start Blog Section -->" | safeHTML}}
<section id="blog" class="section">
  <div class="container">
    <div class="row">
      <div class="col-12">
        {{"<!-- section title -->" | safeHTML}}
        <div class="title text-center wow fadeInDown">
          <h1>{{ .Title }}</h1>
          <div class="border-meghna"></div>
        </div>
      </div>
      {{"<!-- /section title -->" | safeHTML}}

      {{ $paginator := .Paginate .Data.Pages }}
      {{ range $paginator.Pages }}
        {{ if and (ne .Title "Organology") (ne .Title "Performance Practice") (ne .Title "Musicology") (ne .Title "HL Editions") (ne .Title "Iconography") (ne .Title "Sociology of Art") }}
          {{ .Render "article" }}
        {{ end }}
      {{ end }}
      
      <div class="col-12">
        {{ template "_internal/pagination.html" . }}
      </div>
    </div>
  </div>
</section>
{{"<!-- /blog -->" | safeHTML}}

{{ end }}
