{{ define "main" }}

{{ partial "navigation.html" . }}

{{"<!-- Start Blog Section -->" | safeHTML}}
<section id="blog" class="section">
  <div class="container">
    <div class="row">
      <div class="col-12">
        {{"<!-- section title -->" | safeHTML}}
        <div class="title text-center wow fadeInDown">
          <h2>{{ .Title }}</h2>
          <div class="border-meghna"></div>
        </div>
      </div>
      {{"<!-- /section title -->" | safeHTML}}

      <h6>{{ .URL }}</h6>
      <h6>{{ .RelPermalink }}</h6>
      <h6>{{ .Permalink }}</h6>
      <h6>{{ .Page.Permalink }}</h6>
      

      {{ $paginator := .Paginate .Data.Pages }}
      {{ range $paginator.Pages }}


      {{ if eq .Type "Research" }}
      <h6>{{ .Type }}</h6>
      <h6>{{ .Params.subtype }}</h6>
      <h6>{{ .URL }}</h6>

        {{ range .Pages }}
        <h6>{{ .Params.subtype }}</h6>
        {{ end }}


      {{ end }}


      {{ .Render "article" }}
      {{ end }}
      <div class="col-12">
        {{ template "_internal/pagination.html" . }}
      </div>
    </div>
  </div>
</section>
{{"<!-- /blog -->" | safeHTML}}

<!--script>

  function research_section() {
    var thisUrl = window.location.href;
    if(thisUrl.includes('#')) {
      var thisUrl = thisUrl.split('#');
      console.log(thisUrl[1]);
    }
    if(thisUrl[1] == "organology") {
      console.log("ok");
    }
  }
  
</script-->

{{ end }}
