{{ define "main" }}

{{ partial "navigation.html" . }}

{{"<!-- Start Blog Section -->" | safeHTML}}
<section id="blog" class="section">
  <div class="container">
    <div class="row">
      <div class="col-12">
        {{"<!-- section title -->" | safeHTML}}
        <div class="title text-center wow fadeInDown">
          <h2>{{ .Title }}</h2>
          <div class="border-meghna"></div>
        </div>
      </div>
      {{"<!-- /section title -->" | safeHTML}}
      
      {{/* $paginator := .Paginate .Data.Pages */}}
      {{/* range $paginator.Pages */}}
      {{/* .Render "article_onepage" */}}
      {{/* end */}}

      {{ $paginator := .Paginate .Data.Pages }}
      {{ range $paginator.Pages }}
      <h6>1</h6>
      <h6>{{ .Type }}</h6>
      <h6>{{ .Params.show_in_news }}</h6>
      {{ end }}

      {{ $ps := .Paginate .Sections }}
      {{ range $ps.Pages }}
        <h6>4</h6>
        <h6>{{ .Type }}</h6>
        <h6>{{ .Params.show_in_news }}</h6>
          {{ .Title }}
      {{ end }}

      {{ range (.Paginator 5).Pages }}
      <h6>2</h6>
      <h6>{{ .Type }}</h6>
      <h6>{{ .Params.show_in_news }}</h6>
      {{ end }}

      {{ range .Pages }}
      <h6>3</h6>
      <h6>{{ .Type }}</h6>
      <h6>{{ .Params.show_in_news }}</h6>
      {{ end }}


      <div class="col-12">
        {{ template "_internal/pagination.html" . }}
      </div>
    </div>
  </div>
</section>
{{"<!-- /blog -->" | safeHTML}}

{{ end }}
