{{ define "footerfiles" }}
{%comment%}
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/fuse.js/3.2.0/fuse.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/mark.js/8.11.1/mark.min.js"></script>
<script src="{{ "js/search.js" | absURL }}"></script>
{%endcomment%}
{{ end }}

{{ define "main" }}
{{ partial "navigation.html" . }}

<section class="section">
  <div class="col-12">
    <div class="title text-center wow fadeInDown">
      <h1>Index</h1>
      <div class="border-meghna"></div>
    </div>
  </div>
  
  <div class="col-lg-8 offset-lg-2">
    <div class="post-single-content">
      <!--h2 id="main_person_tags">Person tags:</h2-->

      <!--div id="PERSONA" style="margin-bottom: 10px">
        <p id="quinome" style="color: black; margin-bottom: 0px">quinome</p>
        <a href="http://www.ansa.it">quititle1</a>
        <a href="https://www.ansa.it">quititle2</a>
      </div-->

      <div id="persontags-search-results"></div>
    </div>
  </div>

</section>
<script>
  console.log("ciao")
  $('span#quinome').each(
    function() {
      console.log(this);
      $(this).on("mouseover", function(e) {
        this.css('color', '#B44BEB');
      });
      $(this).on("mouseout", function(e) {
        this.css('color', 'black');
      });
    }
  );
</script>

<script id="persontags-result" type="text/x-js-template">
    <div id="summary-${key}">
      <h4>${title}</h4>
      <p>${snippet}</p>{ end }
    </div>
</script>

{{ end }}
