{{ define "footerfiles" }}
{%comment%}
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/fuse.js/3.2.0/fuse.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/mark.js/8.11.1/mark.min.js"></script>
<script src="{{ "js/search.js" | absURL }}"></script>
{%endcomment%}
{{ end }}

{{ define "main" }}
{{ partial "navigation.html" . }}

<section class="section">
  <div class="col-12">
    <div class="title text-center wow fadeInDown">
      <h1>Index</h1>
      <div class="border-meghna"></div>
    </div>
  </div>
  
  <div class="col-lg-8 offset-lg-2">
    <div class="post-single-content">
      <!--h2 id="main_person_tags">Person tags:</h2-->

      <div id="persontags-search-results"></div>

      <div id="background" style="background-color:rgba(0, 0, 0, 0.5);width:100vw;height:100vh;position:fixed;top:0;left:0;z-index:2"></div>
      <div class="index_box">
        <div class="index_box_inside" style="width: 100%">
          <p class="index_box_name">Name Surname</p>
          <p class="index_box_text">Links</p>
        </div>
        <div class="close_index_box">+</div>
      </div>
    </div>
  </div>

</section>

<script id="persontags-result" type="text/x-js-template">
    <div id="summary-${key}">
      <h4>${title}</h4>
      <p>${snippet}</p>{ end }
    </div>
</script>

{{ end }}
