{{ define "main" }}

{{ partial "navigation.html" . }}

<section class="section">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 offset-lg-2 text-center">
        <ul class="list-inline">
          <!--HERE WERE AUTHOR AND DATE ONCE. CHECK VERSION 10/07-->
          <li class="list-inline-item">{{ .Description }}</li>
        </ul>

        <h1 id="this_article_title">{{ .Title }}</h1>
        <div class="post-single-content">by {{/* .Author */}}</div>
        
      </div>

      <div class="post-single-content" style="color:red">{{/* .Synopsis */}}</div-->

      <div class="col-lg-8 offset-lg-2">
        <div class="post-single-content">
          {{ .Content }}
        </div>
        <!--div class="mt-5"-->
          {{/* .Date */}} <!--JUST TO TRY THE COMMENT-->
        <!--/div-->
      </div>
    </div>
  </div>
</section>

{{ end }}
