{{ define "main" }}

{{ partial "navigation.html" . }}

<section class="section">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 offset-lg-2 text-center">
        <ul class="list-inline"> <!--THIS ALSO HAD mb-50 AS CLASS-->
          <!--HERE WERE AUTHOR AND DATE ONCE. CHECK VERSION 10/07-->
          <li class="list-inline-item">{{ .Article_Section }}</li>

          <li class="list-inline-item">{{ .Section }}</li>

          <li class="list-inline-item">{{ .Articlesection }}</li>

          <li class="list-inline-item">{{ .Date }}</li>

        </ul>

        <h1>{{ .Title }}</h1>
        
      </div>
      <div class="col-lg-8 offset-lg-2">
        <div class="post-single-content">
          {{ .Content }}
        </div>
        {%comment%}
        {{ if site.Params.post_share }}
        {{ partial "post-share.html" . }}
        {{ end }}
        {%endcomment%}
        <!-- comments -->
        <div class="mt-5">
          {{ template "_internal/disqus.html" . }}
        </div>
      </div>
    </div>
  </div>
</section>

{{ end }}
