/*SIDE MENU*/
.navbar {
	flex-wrap: row nowrap!important;
}

.navbar-brand {
	transition: margin-left 0.3s ease-out;
	transform: rotate(270deg) scale(0.5);

	margin-left: -30px;
	margin-top: 60px;
	display: inline-flex;
	height: fit-content;
	float: left;

	flex-basis: 0;
  	flex-grow: 999;
}

.navbar-left {
	transition: margin-left 0.3s ease-out;
	margin-left: -290px;
	flex-basis: 20rem!important;
	flex-grow: 1!important;
	padding: 0px!important;
	/*display: -webkit-box*/
}

.nav-link {
	color: black!important;
	font-size: 32px;
	text-decoration: none;
	text-transform: capitalize;
}
.nav-link:hover {
	color: red!important;
}

.navbar-expand-lg .navbar-nav {
	-ms-flex-direction: column;
	flex-direction: column;
	transition: margin-left 0.3s ease-out;
	width: 100%;
}

.navbar-collapse {
	display: flex!important;
	margin-left: -90px;
}

/*FOOTER*/
.footer_bg {
	background: red;
	color: black;
	padding-left: 90px;
	position: fixed;
	width: 100vw;
	bottom: 0;
	left: 0;
	height: auto;
	transition: height 0.3s ease-out;

	display: inline-flex;
	justify-content: space-between;
	padding-right: 40px;

	transition: height 0.3s ease-out;
}

.footer_title {
	margin-bottom: 0px;
}

/*ARTICLES*/
p > img {
	vertical-align: top;
	border-style: none;
	width: 100%;
}

.row {
	color: black; /* for texts in articles */
}

.list-inline-item { /* Section */
	color: red;
	font-weight: 800;
	font-family: "Quattrocento Sans", sans-serif;
	font-size: 0.7rem;
}
