:root {
  --purpleColor: #B44BEB;
}

/*SIDE MENU*/
.nav-item {
	line-height: 1.2em;
	color: var(--purpleColor);
}

.social_row {
  margin-top: auto;
  display:flex;
  margin-bottom: 40px;

  scroll-behavior: smooth;
  width: 15vw;
  justify-content: space-between;

}

.navbar {
	flex-wrap: row nowrap!important;
}

.navbar-brand {
	transition: margin-left 0.3s ease-out;
	transform: rotate(270deg) scale(0.5);

	margin-left: -30px;
	margin-top: 60px;
	display: inline-flex;
	height: fit-content;
	float: left;

	flex-basis: 0;
  flex-grow: 999;
}

.navbar-left {
	transition: margin-left 0.3s ease-out;
	margin-left: -290px;
	flex-basis: 20rem!important;
	flex-grow: 1!important;
	padding: 0px!important;
	/*display: -webkit-box*/
}

.nav-link {
	color: black!important;
	font-size: 32px;
	text-decoration: none;
	text-transform: capitalize;
}
.nav-link:hover {
	color: #f54238!important;
}

.navbar-expand-lg .navbar-nav {
	-ms-flex-direction: column;
	flex-direction: column;
	transition: margin-left 0.3s ease-out;
	width: 100%;
}

.navbar-collapse {
	display: flex!important;
	margin-left: -90px;
}

/*FOOTER*/
#footer {
	height: 26px;
	background: #f54238;
	color: black;
	padding-left: 90px;
	position: fixed;
	width: 100vw;
	bottom: 0;
	left: 0;
	transition: height 0.3s ease-out;
}

.footer_bg {
	display: inline-flex;
	justify-content: space-between;
	padding-right: 40px;
	width: 100%;
	height: auto;
	margin-bottom: 10px;
}

.footer_title {
	margin-bottom: 0px;
	cursor: pointer;
}

.footer_title a{
	text-decoration: none;
}

.footer_title a:hover{
	color: white;
}

.footer_inside_text {
	position: absolute;
}

/*ARTICLES SYNOPSIS*/
.synopsis_box {
	display: block;
	position: absolute;
	background-color: white;
	z-index: 1;
	border-radius: 1.2em;
	border: 0.15em solid var(--purpleColor);
	padding: 1em;
	padding-top: 0.4em;
	padding-right: 3em;
	width: 20%;
	height: 15%;
	overflow: auto;
	margin-left: 4em;

	-ms-overflow-style: none;  /* IE and Edge */
	scrollbar-width: none;  /* Firefox */
}

.synopsis_box::-webkit-scrollbar {
  display: none; /* Hide scrollbar for Chrome, Safari and Opera */
}

.synopsis {
	color: var(--purpleColor);
}

/*ARTICLES*/
.article_info{ /*unused?*/
	margin-bottom: 1em;
}

#this_article_type{
	padding-left: 0;
	list-style: none;
	margin-top: 0px;
	margin-bottom: 0px;
	color: var(--purpleColor);
}

#this_article_title{
	max-width: 60%;
	margin-left: auto;
	margin-right: auto;
}

#this_article_author{
	font-size: 1.5rem;
}

p > img {
	vertical-align: top;
	border-style: none;
	max-width: 70%;
	margin-left: auto;
	margin-right: auto;
	display: block;
	border-radius: 0.8em;
}

.row {
	color: black; /* for texts in articles */
}

.list-inline-item { /* Section */
	color: var(--purpleColor);
	font-size: 1.5rem;
	/*font-weight: 800;
	font-family: "Quattrocento Sans", sans-serif;*/
}

/*GENERAL*/
.visible {
	opacity: 1;
}

.notvisible {
	opacity: 0;
}

/*OVERRIDE BOOTSTRAP*/
/*.navbar-expand-lg .navbar-nav {
	-ms-flex-direction: row!important;
	flex-direction: row!important;
}*/

.navbar-expand-lg .navbar-nav .nav-link {
	padding-right: .5rem!important;
	padding-left: .5rem!important;
}

@media (min-width: 576px) {
	.container {
		max-width: 960px!important;
	}

	.navbar-expand-lg {
		-ms-flex-flow: row nowrap;
		flex-flow: row nowrap;
		-ms-flex-pack: start;
		justify-content: flex-start;
	}
}

@media (min-width: 768px) {
	.container {
		max-width: 100%!important; /* was 960px!important */
	}
}
