{{"<!-- end Contact Area -->" | safeHTML}}
<footer>
	<div id="footer" class="foot1" onmouseover="toggleFooter(this)" onmouseout="toggleFooter(this)">
		<p class="footer_title footitle1">Barberini Harp Project</p>
		<!--div class="footer_inside">
			<p class="footer_inside_text footer_text_1 visible" style="font-size: 18px; column-count: 2;">The one most important surviving Italian Baroque harp, the Barberini Harp is a chromatic harp with three parallel rows of strings, constructed (1632-33) for the harpist Marco Marazzoli by the instrument maker Girolamo Acciari and the wood-carver Giovanni Tubi, under the patronage of Cardinal Antonio Barberini. As we lack crucial understanding of this famous harp, Harfenlabor has initiated The Barberini Harp Project in order to conduct and share basic research on this harp in the fields of organology, musicology, and performance practice, and within relevant historical and art-historical contexts. This publication presents three stages of The Barberini Harp Project: 1. Convening around the Barberini Harp Project, 2. Interviews with Experts, and 3. Examinations.</p>
		</div-->
	</div>
	<div id="footer" class="foot2" onmouseover="toggleFooter(this)" onmouseout="toggleFooter(this)">
		<p class="footer_title footitle2">Related Research</p>
	</div>
	<div id="footer" class="foot3" onmouseover="toggleFooter(this)" onmouseout="toggleFooter(this)">
		<p class="footer_title footitle3">External Links</p>
	</div>
	<div id="footer" class="foot4" onmouseover="toggleFooter(this)" onmouseout="toggleFooter(this)">
		<p class="footer_title footitle4">Tags</p>
	</div>
	<div id="footer" class="foot5" onmouseover="toggleFooter(this)" onmouseout="toggleFooter(this)">
		<p class="footer_title footitle5">Downloads</p>
	</div>
</footer>
{{"<!-- /footer -->" | safeHTML}}




{{ "<!-- Google Map API -->" | safeHTML }}
{{ if site.Params.map.enable }}
<script src="{{ site.Params.map.gmap_api | safeURL }}"></script>
{{ end }}


{{/* "<!-- JS Plugins -->" | safeHTML */}}
{{/* range site.Params.plugins.js */}}
<!--script src="{{ .link | absURL }}"></script-->
{{/* end */}}

{{/* "<!-- Main Script -->" | safeHTML */}}
{{/* $script := resources.Get "js/script.js" | minify | fingerprint "sha384" */}}
<!--script src="{{ $script.Permalink }}" integrity="{{ $script.Data.Integrity }}"></script-->

<!-- cookie -->
{{ if site.Params.cookies.enable }}
<script src="https://cdnjs.cloudflare.com/ajax/libs/js-cookie/2.2.1/js.cookie.min.js"></script>
<div id="js-cookie-box" class="cookie-box cookie-box-hide">
	This site uses cookies. By continuing to use this website, you agree to their use. <span id="js-cookie-button" class="btn btn-transparent">I Accept</span>
</div>
<script>
	(function ($) {
		const cookieBox = document.getElementById('js-cookie-box');
		const cookieButton = document.getElementById('js-cookie-button');
		if (!Cookies.get('cookie-box')) {
			cookieBox.classList.remove('cookie-box-hide');
			cookieButton.onclick = function () {
				Cookies.set('cookie-box', true, {
					expires: {{ site.Params.cookies.expire_days }}
				});
				cookieBox.classList.add('cookie-box-hide');
			};
		}
	})(jQuery);
</script>
{{ end }}
